extends layout

block content
  h2 #{title}.
  h3 #{message}
  address
    | My Company Name
    br
    | My Company Address
    br
    abbr(title='Phone') P: 
    | 9300429788

  address
    strong Support: 
    a(href='mailto:upkar_s@yahoo.co.in') upkar_s@yahoo.co.in
    br
    strong Marketing: 
    a(href='mailto:upkar_s@yahoo.co.in') upkar_s@yahoo.co.in
